# SQLDatabaseChain

## Installs

In [1]:
# %%capture
# !pip install -q langchain
# !pip install -q openai

# Secret Key

In [19]:
import os
import json

with open('../api_keys.json') as f:
    data = json.load(f)
     
os.environ['OPENAI_API_KEY'] =  data["openai_key_1"]
os.environ['GOOGLE_API_KEY'] =  data["palm_key"]

In [16]:
from langchain.llms import OpenAI

## Testing Key

In [14]:
# ! python3 -m pip install openai
# ! python3 -m pip install --upgrade pip
# ! python3 -m pip install openai

In [17]:
from langchain.llms import OpenAI

In [21]:
llm = OpenAI(temperature=.6)
llm("tell me about kohli and sachin")

'\n\nKohli and Sachin are both Indian cricketers who are considered to be among the greatest batsmen in the history of the sport.\n\nSachin Tendulkar, also known as the "Master Blaster," is widely regarded as one of the greatest batsmen of all time. He holds numerous records in international cricket, including the most runs scored and most centuries scored in both Test and ODI matches. He played for the Indian national team from 1989 to 2013 and is often referred to as the "God of Cricket" in his home country.\n\nVirat Kohli is the current captain of the Indian national team and is widely considered to be one of the best batsmen in the world. He made his international debut in 2008 and has since become one of the most consistent performers in all formats of the game. He is known for his aggressive batting style and has broken several records, including the fastest century by an Indian cricketer in ODI matches.\n\nBoth Sachin and Kohli have a huge fan following and have played a significant role in the success of the Indian cricket team. They have also been instrumental in popularizing the sport in their country and inspiring a new generation of cricketers. '

# Converting Pandas to SQL Db

In [13]:
# ! pip  install pandas

In [14]:
import pandas as pd

In [15]:
dataset = pd.read_csv('sample_data.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [16]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [17]:
import numpy as np
import pandas as pd
import sqlite3

df = pd.read_csv("sample_data.csv")


conn = sqlite3.connect('sample_db.sqlite')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS sample_db (age int, sex text, bmi float, children int, smoker text, religion text, charges float)')
conn.commit()

df.to_sql('sample_db', conn, if_exists='replace', index = False)

c.execute('''
SELECT age FROM sample_db LIMIT 100
          ''')

for row in c.fetchall():
    print (row)

(19,)
(18,)
(28,)
(33,)
(32,)
(31,)
(46,)
(37,)
(37,)
(60,)
(25,)
(62,)
(23,)
(56,)
(27,)
(19,)
(52,)
(23,)
(56,)
(30,)
(60,)
(30,)
(18,)
(34,)
(37,)
(59,)
(63,)
(55,)
(23,)
(31,)
(22,)
(18,)
(19,)
(63,)
(28,)
(19,)
(62,)
(26,)
(35,)
(60,)
(24,)
(31,)
(41,)
(37,)
(38,)
(55,)
(18,)
(28,)
(60,)
(36,)
(18,)
(21,)
(48,)
(36,)
(40,)
(58,)
(58,)
(18,)
(53,)
(34,)
(43,)
(25,)
(64,)
(28,)
(20,)
(19,)
(61,)
(40,)
(40,)
(28,)
(27,)
(31,)
(53,)
(58,)
(44,)
(57,)
(29,)
(21,)
(22,)
(41,)
(31,)
(45,)
(22,)
(48,)
(37,)
(45,)
(57,)
(56,)
(46,)
(55,)
(21,)
(53,)
(59,)
(35,)
(64,)
(28,)
(54,)
(55,)
(56,)
(38,)

# Reading the DB

In [18]:
def read_sql_query(sql, db):
    conn = sqlite3.connect(db)
    cur = conn.cursor()
    cur.execute(sql)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    conn.close()

In [19]:
import sqlite3
read_sql_query('SELECT * FROM sample_db LIMIT 10;',
               "sample_db.sqlite")

(19, 'female', 27.9, 0, 'yes', 'southwest', 16884.924)
(18, 'male', 33.77, 1, 'no', 'southeast', 1725.5523)
(28, 'male', 33.0, 3, 'no', 'southeast', 4449.462)
(33, 'male', 22.705, 0, 'no', 'northwest', 21984.47061)
(32, 'male', 28.88, 0, 'no', 'northwest', 3866.8552)
(31, 'female', 25.74, 0, 'no', 'southeast', 3756.6216)
(46, 'female', 33.44, 1, 'no', 'southeast', 8240.5896)
(37, 'female', 27.74, 3, 'no', 'northwest', 7281.5056)
(37, 'male', 29.83, 2, 'no', 'northeast', 6406.4107)
(60, 'female', 25.84, 0, 'no', 'northwest', 28923.13692)

# Langchain SQL Agent

In [20]:
# ! pip install langchain_experimental

In [21]:
from langchain.llms import OpenAI
from langchain.sql_database import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [22]:
input_db = SQLDatabase.from_uri('sqlite:///sample_db.sqlite')
llm_1 = OpenAI(temperature=0)

d:\Workspace\Repository\2024\Learnings\GenAI\gen_ai_venv\lib\site-packages\langchain_core\_api\deprecation.py:189: LangChainDeprecationWarning: The class `OpenAI` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use langchain_openai.OpenAI instead.
  warn_deprecated(

In [23]:
db_agent = SQLDatabaseChain(llm = llm_1,
                            database = input_db,
                            verbose=True)

d:\Workspace\Repository\2024\Learnings\GenAI\gen_ai_venv\lib\site-packages\langchain_experimental\sql\base.py:76: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [24]:
dataset.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Question 1

In [26]:
db_agent.run("how many rows are there?")

> Entering new SQLDatabaseChain chain...
how many rows are there?
SQLQuery:SELECT COUNT(*) FROM sample_db
SQLResult: [(1338,)]
Answer:1338
> Finished chain.

'1338'

# Question 2

In [27]:
db_agent.run("how many females are smokers?")

> Entering new SQLDatabaseChain chain...
how many females are smokers?
SQLQuery:SELECT COUNT(*) FROM sample_db WHERE sex = "female" AND smoker = "yes"
SQLResult: [(115,)]
Answer:115
> Finished chain.

'115'

# Question 3

In [29]:
db_agent.run("Can you give me all the details of the smoker females with bmi above 30?")

> Entering new SQLDatabaseChain chain...
Can you give me all the details of the smoker females with bmi above 30?
SQLQuery:SELECT "age", "sex", "bmi", "children", "smoker", "region", "charges" FROM sample_db WHERE "sex" = 'female' AND "smoker" = 'yes' AND "bmi" > 30 LIMIT 5
SQLResult: [(34, 'female', 31.92, 1, 'yes', 'northeast', 37701.8768), (37, 'female', 34.8, 2, 'yes', 'southwest', 39836.519), (57, 'female', 31.16, 0, 'yes', 'northwest', 43578.9394), (64, 'female', 31.3, 2, 'yes', 'southwest', 47291.055), (18, 'female', 36.85, 0, 'yes', 'southeast', 36149.4835)]
Answer:The details of the smoker females with bmi above 30 are: age, sex, bmi, children, smoker, region, and charges.
> Finished chain.

'The details of the smoker females with bmi above 30 are: age, sex, bmi, children, smoker, region, and charges.'

# Question 4

In [38]:
db_agent.run("give me the details about the males from southwest having 2 childrens")

> Entering new SQLDatabaseChain chain...
give me the details about the males from southwest having 2 childrens
SQLQuery:SELECT "age", "bmi", "smoker", "region", "charges" FROM sample_db WHERE sex = "male" AND region = "southwest" AND children = 2 LIMIT 5
SQLResult: [(31, 36.3, 'yes', 'southwest', 38711.0), (44, 27.4, 'no', 'southwest', 7726.854), (44, 37.1, 'no', 'southwest', 7740.337), (38, 34.7, 'no', 'southwest', 6082.405), (50, 34.2, 'yes', 'southwest', 42856.838)]
Answer:There are 5 males from southwest with 2 childrens.
> Finished chain.

'There are 5 males from southwest with 2 childrens.'